/* Minimal custom styles for GoBig docs */
:root {
  --ifm-color-primary: #2563eb;
  --ifm-color-primary-dark: #1d4ed8;
  --ifm-color-primary-light: #3b82f6;
}

.hero--primary {
  background: linear-gradient(90deg, #1d4ed8 0%, #2563eb 50%, #3b82f6 100%);
}

/* light mode */
html[data-theme='light'] nav.theme-layout-navbar {
  background-color: #facc15;
}

/* dark mode */
html[data-theme='dark'] nav.theme-layout-navbar {
  background-color: #5a4800;
}

