services:
  docs:
    build: .
    ports:
      - "8080:80"
    restart: unless-stopped
    container_name: gobig-docs
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s
